
.navbar.bg-light, .jumbotron, .btn{
    border-color: hotpink;
}

button#btn-login, button.btn, button{
    border-color: deeppink;
    background-color: lightpink;
}

.form-control{
    border-color: deeppink;
    background-color: lightpink;
}

.form-control:focus{
    border-color: #ff97e5;
    background-color: #ffdbe9;
}

.form-control::placeholder{
    color: white;
}

td{
    border-color: #ffe1e6;
}

a.dashboard-active{
    color:  lightpink;
    font-size: 1.3em;
}

a.dashboard-inactive{
    color: #e5e5e5;
}


