{% extends 'layout.html.twig' %}


{% block page_title 'Home' %}


{% block content %}

    <div class="jumbotron mt-5">
        <h1 class="display-3">Sutekina Box!</h1>
        <h2 class="lead">Because we all love Kawaii sh*t</h2>

        <hr class="my-4">

        <img src="{{ asset('images/cover.jpg') }}" alt="" style="height: 400px;">

    </div>
{% endblock %}
